@media (min-width: 1900px) {
    .color_scheme #promobanner {
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        background-size: 100% auto
    }
}

@media (min-width: 1700px) {
    .color_scheme #back_top {
        width: 60px;
        height: 60px;
        margin: 0 0 0 715px;
        background: rgba(0, 0, 0, 0.7);
        color: rgba(255, 255, 255, 0.7);
        z-index: 999;
        -webkit-box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.25);
        box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.25);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out
    }

    .color_scheme #back_top:before {
        font: 48px/55px 'FontAwesome';
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out
    }

    .color_scheme #back_top:hover {
        background: rgba(0, 0, 0, 0.9);
        color: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.8);
        -moz-box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.8)
    }
}

@media (max-width: 1700px) {
    .color_scheme .promobanner_container {
        width: 1170px
    }

    .color_scheme .promobanner_content {
        width: 50%
    }

    .color_scheme .promobanner_content img {
        display: none
    }

    .color_scheme .promobanner_counter {
        width: 50%
    }
}

@media (max-width: 1300px) {
    .color_scheme #promobanner_close {
        right: 10px
    }

    .color_scheme #back_top {
        margin: 0 0 0 555px
    }
}

@media (max-width: 1199px) {
    .color_scheme #cookies_container {
        text-align: center
    }

    .color_scheme #cookies_container p {
        display: block;
        font-size: 15px
    }

    .color_scheme #cookies_container .cookie_btn {
        margin: 10px 0;
        font-size: 15px
    }

    .color_scheme #promobanner {
        display: none !important
    }

    .color_scheme .product_listing_main .product_links {
        opacity: 1
    }

    .color_scheme .product_listing_main .product_links .link {
        letter-spacing: 1px
    }

    .color_scheme #back_top {
        margin: 0 0 0 455px
    }

    .color_scheme .collection_listing_item .link {
        letter-spacing: 1px;
        font-size: 12px
    }

    .color_scheme .list_products .product_img {
        width: 100%;
        float: none
    }

    .color_scheme .list_products .product_info {
        margin: 10px 0 0 0;
        text-align: center
    }

    .color_scheme .sidebar_widget__articles .widget_content {
        margin: 20px 0 0 0
    }

    .color_scheme .sidebar_widget__articles ul li ~ li {
        margin: 20px 0 0 0;
        padding: 20px 0 0 0
    }

    .color_scheme .sidebar_widget__articles img {
        width: 130px;
        float: left
    }

    .color_scheme .sidebar_widget__articles .article_content__img {
        margin: 0 0 0 150px
    }

    .color_scheme .sidebar_widget__tags .widget_content {
        margin: 10px 0 0 0
    }

    .color_scheme .sidebar_widget__comments .widget_content {
        margin: 15px 0 0 0
    }

    .color_scheme .sidebar_widget__comments ul li ~ li {
        margin: 20px 0 0 0;
        padding: 20px 0 0 0;
        border-top: 1px solid #e1e1e1
    }

    .color_scheme .elevatezoom_big_wrapper {
        width: 302px
    }

    .color_scheme .zoomContainer {
        width: 296px !important;
        height: auto !important
    }

    .color_scheme .zoomWrapper, .color_scheme #elevatezoom_big {
        width: 296px !important;
        height: auto !important;
        position: relative !important
    }

    .color_scheme #elevatezoom_gallery {
        width: 302px
    }

    .color_scheme .product_info__wrapper .product_info__left {
        width: 376px
    }

    .color_scheme .product_info__wrapper .product_info__right {
        width: 260px
    }

    .color_scheme .product_info__wrapper .selector-wrapper {
        width: 50%
    }
}

@media (max-width: 991px) {
    .color_scheme .page_heading {
        letter-spacing: 5px
    }

    .color_scheme .page_heading, .color_scheme .sidebar_widget .widget_header {
        font-size: 24px;
        letter-spacing: 0px
    }

    .color_scheme #main {
        padding-bottom: 50px
    }

    .color_scheme .custom_block .title_1 {
        font-size: 6vw;
        letter-spacing: 1.7vw
    }

    .color_scheme .custom_block .text_wrapper .border_bottom_big, .color_scheme .custom_block .text_wrapper .border_top_big {
        height: 11vw
    }

    .color_scheme .custom_2 .custom_2_indent .title_1 {
        font-size: 6vw;
        letter-spacing: 1.7vw
    }

    .color_scheme .homepage_blog_collections_flex {
        display: block;
        padding: 5px
    }

    .color_scheme .homepage_blog_collections_flex .homepage_collection {
        padding: 5px;
        width: 33.333%;
        max-width: 100%;
        float: left
    }

    .color_scheme .homepage_blog_collections_flex .blog_article {
        float: none;
        padding: 20px 5px;
        overflow: hidden
    }

    .color_scheme .homepage_blog_collections_flex .article_img {
        max-width: 30%;
        width: auto
    }

    .color_scheme .homepage_blog_collections_flex .article_img img {
        position: static;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }

    .color_scheme .homepage_blog_collections_flex .blog_text_wr {
        padding: 0
    }

    .color_scheme .homepage_blog_collections_flex .blog_article__1 {
        clear: left
    }

    .color_scheme .homepage_products_title {
        padding-top: 50px
    }

    .color_scheme .product_collection.item3_1 {
        clear: none
    }

    .color_scheme .product_collection.item2_1 {
        clear: left
    }

    .color_scheme .view_list .product_img {
        width: 160px;
        float: left
    }

    .color_scheme .view_list .product_info {
        overflow: hidden
    }

    .color_scheme .view_list .product_desc__long {
        display: none
    }

    .color_scheme .view_list .product_desc__short {
        display: block
    }

    .color_scheme #back_top {
        margin: 0 0 0 345px
    }

    .color_scheme footer {
        padding-top: 10px
    }

    .color_scheme footer .copyright {
        margin-top: 40px
    }

    .color_scheme .footer_block {
        padding-top: 20px
    }

    .color_scheme .footer_block__3 {
        clear: left
    }

    .color_scheme .sort_by label, .color_scheme .sort_by select, .color_scheme .show_products label, .color_scheme .show_products select {
        font-size: 14px
    }

    .color_scheme .collection_listing_item .collection_info {
        padding: 15px 8px 20px
    }

    .color_scheme .collection_listing_item .link {
        font-size: 12px;
        letter-spacing: 0
    }

    .color_scheme .sidebar_widget__articles img {
        width: auto;
        float: none
    }

    .color_scheme .sidebar_widget__articles .article_content__img {
        margin: 20px 0 0 0
    }

    .color_scheme .sidebar_widget__comments .widget_content {
        margin: 15px 0 0 0
    }

    .color_scheme .sidebar_widget__comments ul li ~ li {
        margin: 20px 0 0 0;
        padding: 20px 0 0 0;
        border-top: 1px solid #e1e1e1
    }

    .color_scheme .sidebar_widget__comments .item_info time {
        float: none;
        margin: 10px 0 0 0
    }

    .color_scheme .elevatezoom_big_wrapper {
        width: 290px;
        position: relative
    }

    .color_scheme .zoomContainer {
        width: 284px !important
    }

    .color_scheme .zoomWrapper, .color_scheme #elevatezoom_big {
        width: 284px !important;
        height: auto !important;
        position: relative !important
    }

    .color_scheme .zoomContainer, .color_scheme .zoomLens, .color_scheme .zoomWindow {
        display: none !important
    }

    .color_scheme .elevatezoom_big_clicker {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100
    }

    .color_scheme #elevatezoom_gallery {
        width: 290px
    }

    .color_scheme .product_info__wrapper {
        display: block
    }

    .color_scheme .product_info__wrapper .product_info__left {
        width: 100%;
        display: block;
        padding: 0
    }

    .color_scheme .product_info__wrapper .product_info__right {
        width: 100%;
        display: block;
        margin: 15px 0 0 0;
        padding: 15px 0 0 0;
        border: none;
        border-top: 1px solid #e1e1e1
    }

    .color_scheme .cart_list .cart_summary {
        text-align: center
    }

    .color_scheme .cart_list .cart_summary .cart_summary__methods {
        float: none
    }

    .color_scheme .cart_list .cart_summary .cart_summary__methods li {
        float: none;
        display: inline-block
    }

    .color_scheme .cart_list .cart_summary .cart_summary__checkout .btn {
        float: none;
        margin: 20px auto 10px
    }

    .color_scheme .sitemap_blog + div {
        clear: left
    }

    .color_scheme #color_settings {
        margin: -147px 0 0 0;
        top: 50%
    }

    .color_scheme #color_settings #color_settings__btn {
        top: 36px
    }

    .color_scheme #color_settings.on #color_settings__btn {
        top: 0px
    }
}

@media (max-width: 767px) {
    .color_scheme .container {
        padding: 0 15px
    }

    .color_scheme #main {
        padding-bottom: 40px
    }

    .color_scheme header {
        padding-top: 30px
    }

    .color_scheme header .header_top_subpage .header_cart {
        margin: 10px 0 0 50px
    }

    .color_scheme .header_right, .color_scheme .header_left {
        padding-top: 30px
    }

    .color_scheme .homepage_header_top_flex_wr {
        padding-bottom: 30px
    }

    .color_scheme .homepage_header_top_flex_wr.header_top_fullheight {
        min-height: 0;
        padding-bottom: 0
    }

    .color_scheme .template-index .pseudo_sticky_block {
        min-height: 208px
    }

    .color_scheme .custom_1 {
        padding-bottom: 0
    }

    .color_scheme .homepage_blog_collections {
        top: 0;
        margin-bottom: 0
    }

    .color_scheme .homepage_blog_collections .collection_text_wr h3 {
        padding-bottom: 14px;
        font-size: 18px;
        letter-spacing: 1px
    }

    .color_scheme .homepage_blog_collections .collection_text_wr .link {
        font-size: 12px;
        letter-spacing: 1px
    }

    .color_scheme .homepage_blog_collections .inside::before, .color_scheme .homepage_blog_collections .inside::after {
        top: 12px;
        bottom: 12px;
        left: 12px;
        right: 12px
    }

    .color_scheme .custom_2 {
        top: 0;
        margin-bottom: 0
    }

    .color_scheme .custom_2 .custom_2_indent {
        padding-top: 100px;
        padding-bottom: 100px
    }

    .color_scheme .product_listing_main .product {
        width: 100%;
        float: none
    }

    .color_scheme .product_listing_main .product_wrapper {
        overflow: hidden;
        padding: 15px
    }

    .color_scheme .product_listing_main .product_img {
        width: 160px;
        float: left;
        margin: 0 15px 0 0
    }

    .color_scheme .product_listing_main .product_img a {
        padding: 0
    }

    .color_scheme .product_listing_main .product_img span.sale {
        display: none
    }

    .color_scheme .product_listing_main .product_info {
        overflow: hidden;
        text-align: left;
        padding: 0
    }

    .color_scheme .product_listing_main .product_info .link {
        font-size: 12px;
        letter-spacing: 0
    }

    .color_scheme .product_listing_main .product_desc__short {
        display: block
    }

    .color_scheme .product_listing_main .quick_view_btn {
        display: none !important
    }

    .color_scheme .homepage_products_title {
        padding-top: 30px
    }

    .color_scheme .homepage_carousel .swiper-wrapper {
        display: block;
        -webkit-transform: translate3d(0, 0, 0) !important;
        -ms-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important
    }

    .color_scheme .homepage_carousel .product_homepage {
        width: 100% !important;
        display: block !important;
        float: none !important;
        clear: both !important
    }

    .color_scheme .homepage_carousel .swiper-slide-duplicate {
        display: none !important
    }

    .color_scheme .homepage_carousel .btn_prev, .color_scheme .homepage_carousel .btn_next {
        display: none
    }

    .color_scheme .view_list .product_img {
        margin-right: 15px
    }

    .color_scheme #collection_sorted {
        padding-top: 5px
    }

    .color_scheme #back_top {
        display: none !important
    }

    .color_scheme footer {
        padding-top: 10px
    }

    .color_scheme footer .footer_links {
        margin-top: 5px
    }

    .color_scheme footer .copyright {
        margin-top: 30px
    }

    .color_scheme .template-index #google_map {
        height: 300px !important
    }

    .color_scheme .breadcrumb_wrap {
        margin: 27px 0
    }

    .color_scheme .product_listing_toggle {
        display: none !important
    }

    .color_scheme .show_products {
        float: left;
        margin: 10px 10px 0 0
    }

    .color_scheme .collection_listing_item {
        margin: 30px 0 0 0
    }

    .color_scheme .collection_listing_item.item_2_1 {
        clear: left
    }

    .color_scheme .sidebar {
        margin: 30px 0 0 0
    }

    .color_scheme .sidebar .widget_content {
        margin-top: 5px
    }

    .color_scheme .sidebar_widget ~ .sidebar_widget {
        margin-top: 20px
    }

    .color_scheme .list_products .product_img {
        width: 100px;
        float: left
    }

    .color_scheme .list_products .product_info {
        overflow: hidden;
        margin: 0;
        text-align: left
    }

    .color_scheme .sidebar_widget__articles img {
        width: 145px;
        float: left;
        margin: 0 10px 0 0
    }

    .color_scheme .sidebar_widget__articles .article_content__img {
        overflow: hidden
    }

    .color_scheme .sidebar_widget__comments .item_info time {
        float: right;
        margin: 0 0 0 10px
    }

    .color_scheme .elevatezoom_big_wrapper {
        margin: 0 auto
    }

    .color_scheme #elevatezoom_gallery {
        margin: 10px auto 0 auto
    }

    .color_scheme .product_wrap .product_name {
        padding: 30px 0 0 0
    }

    .color_scheme .product_info__wrapper .selector-wrapper {
        width: 33.33333333333333%
    }

    .color_scheme .account_wrapper {
        display: block;
        margin: 0
    }

    .color_scheme .account_wrapper .account_left {
        width: 100%;
        height: auto;
        display: block;
        padding: 0
    }

    .color_scheme .account_wrapper .account_left:before {
        right: 0
    }

    .color_scheme .account_wrapper .account_right {
        width: 100%;
        height: auto;
        display: block;
        padding: 0
    }

    .color_scheme .account_wrapper .account_right:before {
        left: 0
    }

    .color_scheme .account_wrapper .account_section {
        margin: 30px 0 0 0
    }

    .color_scheme .account_area .page_heading a {
        float: none;
        margin: 7px 0 0 0
    }

    .color_scheme .account_area .page_heading a.link_logout {
        position: relative;
        right: auto;
        top: auto
    }

    .color_scheme .cart_list {
        border: 1px solid #e1e1e1;
        border-width: 0 1px 1px 1px
    }

    .color_scheme .cart_list th {
        display: none
    }

    .color_scheme .cart_list tbody td {
        display: block;
        overflow: hidden;
        padding: 0;
        border-width: 0;
        text-align: left !important
    }

    .color_scheme .cart_list tbody td.cell_1 {
        border-width: 1px 0
    }

    .color_scheme .cart_list tbody td.cell_2 {
        width: 140px;
        float: left;
        padding: 10px
    }

    .color_scheme .cart_list tbody td.cell_3 {
        width: 98px;
        float: left;
        padding: 10px 10px 10px 0
    }

    .color_scheme .cart_list tbody td.cell_4 {
        float: left;
        padding: 10px
    }

    .color_scheme .cart_list tbody td.cell_5 {
        float: right;
        padding: 10px 10px 10px 0
    }

    .color_scheme .cart_list .cart_item__img {
        width: 140px;
        padding: 10px
    }

    .color_scheme .cart_list .cart_item__info {
        margin: 0 0 0 140px;
        padding: 10px 10px 10px 0
    }

    .color_scheme .cart_list .cart_buttons td {
        padding: 0 20px 20px 20px
    }

    .color_scheme .cart_list .cart_buttons .btn {
        margin: 10px 0 0;
        width: 100%;
        float: none
    }

    .color_scheme .cart_list .cart_summary .cart_summary__checkout {
        text-align: center
    }

    .color_scheme .cart_list .cart_summary .cart_summary__checkout button {
        float: none;
        margin: 20px 0 0 0
    }

    .color_scheme .cart_list .cart_summary .cart_summary__methods {
        float: none;
        font-size: 0
    }

    .color_scheme .cart_list .cart_summary .cart_summary__methods li {
        display: inline-block;
        float: none;
        margin: 20px 10px 0 10px
    }

    .color_scheme #color_settings #color_settings__btn {
        opacity: .5;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out
    }

    .color_scheme #color_settings #color_settings__btn:hover {
        opacity: 1
    }
}

@media (max-width: 640px) {
    .color_scheme header.header_top_subpage .header_cart {
        margin: 10px 0 0 50px
    }

    .color_scheme .homepage_blog_collections_flex {
        padding-top: 10px
    }

    .color_scheme .homepage_blog_collections_flex .article_img {
        float: left;
        margin: 0 15px 10px 0
    }

    .color_scheme .homepage_blog_collections_flex .blog_article {
        padding: 15px 0
    }

    .color_scheme .homepage_blog_collections_flex .homepage_collection .inside {
        max-width: 100%;
        display: inline-block
    }

    .color_scheme .homepage_blog_collections_flex .blog_title {
        margin: 0 0 10px;
        font-size: 22px
    }

    .color_scheme .homepage_blog_collections_flex .blog_article .link {
        margin-top: 10px
    }

    .color_scheme .custom_2 {
        top: 0
    }

    .color_scheme .custom_2 .custom_2_indent {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .color_scheme .custom_2 .text_wrapper {
        margin-top: 10px;
        margin-bottom: 10px
    }

    .color_scheme .product_listing_main .product_img {
        width: 120px;
        margin: 0 15px 0 0
    }

    .color_scheme .product_listing_main .product_info {
        overflow: hidden
    }

    .color_scheme .product_wrap .variants-wrapper {
        margin: 0
    }

    .color_scheme .product_wrap .selector-wrapper {
        width: 100%;
        float: none;
        padding: 15px 0 0 0
    }

    .color_scheme .account_section {
        margin: 15px 0 0 0;
        padding: 15px
    }

    .color_scheme .account_wrapper .account_section {
        margin: 15px 0 0 0
    }

    .color_scheme .table_orders__wrap {
        margin: 0 -16px -16px -16px
    }

    .color_scheme .account_section.account_address__add h4 span, .color_scheme .account_section.account_address__item h4 span {
        display: block;
        float: none;
        margin: 10px 0 0 0
    }

    .color_scheme #address_add__close {
        margin-left: 0
    }
}

@media (max-width: 480px) {
    .color_scheme #cart_added .cart_added__row {
        height: auto;
        display: block
    }

    .color_scheme .cart_added__1 {
        width: 100%;
        display: block
    }

    .color_scheme .cart_added__1 img {
        height: 150px
    }

    .color_scheme .cart_added__2 {
        width: 100%;
        display: block;
        padding: 15px 0 0 0
    }

    .color_scheme header {
        padding-top: 35px
    }

    .color_scheme .homepage_header_top_flex_wr {
        padding-bottom: 30px
    }

    .color_scheme .header_flex {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .color_scheme .logo_main {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -moz-box-flex: 1;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%
    }

    .color_scheme .header_left {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -moz-box-flex: 0;
        -moz-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        padding-top: 33px
    }

    .color_scheme .header_right {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-order: 3;
        -ms-flex-order: 3;
        order: 3;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-box-flex: 1;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding-top: 24px
    }

    .color_scheme .header_search {
        width: 100px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100px;
        -moz-box-flex: 1;
        -moz-flex: 1 1 100px;
        -ms-flex: 1 1 100px;
        flex: 1 1 100px
    }

    .color_scheme .header_search #search-field {
        width: 100%;
        padding: 0 23px 0 5px;
        position: static
    }

    .color_scheme .header_search #search-submit {
        position: absolute;
        right: 3px;
        top: 0
    }

    .color_scheme header.header_top_subpage .header_cart, .color_scheme .header_cart {
        margin: 8px 0px 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -moz-box-flex: 0;
        -moz-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .color_scheme .header_right_inside {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        float: none;
        width: 100%
    }

    .color_scheme header.header_top_subpage .header_search, .color_scheme .header_search {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1;
        margin: 10px 15px 0
    }

    .color_scheme header.header_top_subpage .header_search .search-form, .color_scheme .header_search .search-form {
        width: auto
    }

    .color_scheme header.header_top_subpage .header_search .search-form, .color_scheme header.header_top_subpage .header_search .search-form.search_opened #search-field, .color_scheme .header_search .search-form, .color_scheme .header_search .search-form.search_opened #search-field {
        width: 100%
    }

    .color_scheme header.header_top_subpage .header_search .search-form #search-submit, .color_scheme .header_search .search-form #search-submit {
        font-size: 20px;
        width: 20px
    }

    .color_scheme header.header_top_subpage .header_search #header_search__toggle, .color_scheme .header_search #header_search__toggle {
        display: none
    }

    .color_scheme header .logo_main {
        height: 115px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }

    .color_scheme header.header_stuck .logo_main {
        height: 0
    }

    .color_scheme header.header_stuck .logo_main a {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    .color_scheme header.header_stuck .header_cart, .color_scheme header.header_stuck .header_search {
        margin: 10px 0 0 20px
    }

    .color_scheme .template-index .pseudo_sticky_block, .color_scheme .pseudo_sticky_block {
        min-height: 220px
    }

    .color_scheme #megamenu.megamenu_mobile .level_2_products .product_img {
        width: 120px
    }

    .color_scheme #megamenu.megamenu_mobile .level_2_products .product_info {
        margin: 0 0 0 140px
    }

    .color_scheme #megamenu.megamenu_mobile .level_2_blog .item_with_img .blog_img {
        width: 120px
    }

    .color_scheme #megamenu.megamenu_mobile .level_2_blog .item_with_img .blog_info {
        margin: 0 0 0 140px
    }

    .color_scheme .custom_1 {
        margin-top: 30px
    }

    .color_scheme .homepage_blog_collections_flex .homepage_collection {
        width: 100%;
        float: none
    }

    .color_scheme .homepage_blog_collections_flex .collection_text_wr h3 {
        font-size: 30px
    }

    .color_scheme .homepage_blog_collections_flex .collection_text_wr .link {
        font-size: 16px
    }

    .color_scheme .product_listing_main .product_desc {
        display: none
    }

    .color_scheme .product_listing_main .product_img {
        position: relative
    }

    .color_scheme .product_listing_main .product_img span.product_badge {
        top: auto;
        bottom: 0px;
        right: 0px;
        left: 0;
        font-size: 12px;
        padding: 0 5px;
        height: 20px;
        line-height: 20px;
        text-align: center
    }

    .color_scheme .product_listing_main .product_name a {
        white-space: normal
    }

    .color_scheme .sort_by, .color_scheme .show_products {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        float: none;
        margin: 10px 0
    }

    .color_scheme .sort_by label, .color_scheme .show_products label {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .color_scheme .sort_by select, .color_scheme .show_products select {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -moz-box-flex: 1;
        -moz-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }

    .color_scheme .product_listing_controls {
        text-align: center;
        padding-bottom: 0
    }

    .color_scheme .products_count {
        float: none;
        margin: 7px 0 0 0
    }

    .color_scheme #pagination {
        float: none;
        margin: 0 0 10px
    }

    .color_scheme .collection_listing_item {
        width: 100%;
        margin-top: 15px
    }

    .color_scheme .collection_listing_item .collection_img {
        float: left;
        margin: 0 15px 0 0;
        width: 30%;
        max-width: 140px
    }

    .color_scheme .collection_listing_item .collection_img a {
        padding: 0
    }

    .color_scheme .collection_listing_item .collection_info {
        padding: 0;
        overflow: hidden;
        text-align: left
    }

    .color_scheme .collection_listing_item .collection_name {
        margin-top: 0
    }

    .color_scheme .collection_listing_item .collection_products {
        margin: 7px 0
    }

    .color_scheme .collection_listing_item .link {
        margin-top: 10px
    }

    .color_scheme .collection_listing_item_wrapper {
        overflow: hidden;
        padding: 10px
    }

    .color_scheme .sidebar_widget__articles img {
        width: 120px
    }

    .color_scheme .sidebar_widget__articles .article_content__img {
        margin: 0 0 0 140px
    }

    .color_scheme .sidebar_widget__comments .item_info time {
        float: none;
        margin-left: 0
    }

    .color_scheme .product_pagination {
        margin-top: 0
    }

    .color_scheme .product_pagination .btn {
        width: 100%;
        float: none;
        margin: 5px 0
    }

    .color_scheme .blog_listing__article .article_info span {
        display: block;
        margin: 0;
        padding: 5px 0 0 0;
        border: none
    }

    .color_scheme .article_comments__list ul li time {
        display: block;
        float: none;
        padding: 10px 0 0 0
    }

    .color_scheme .article_pagination .btn {
        width: 100%;
        margin: 5px 0
    }

    .color_scheme .table_orders .cell_fulfillment {
        display: none
    }

    .color_scheme .table_orders {
        font-size: 12px
    }

    .color_scheme #customer_orders th, .color_scheme #customer_orders td, .color_scheme #order_details th, .color_scheme #order_details td {
        vertical-align: middle;
        padding: 5px;
        font-size: 12px
    }

    .color_scheme .cart_list tbody td.cell_2 {
        width: 120px
    }

    .color_scheme .cart_list .cart_item__img {
        width: 120px
    }

    .color_scheme .cart_list .cart_item__info {
        margin: 0 0 0 120px
    }

    .color_scheme .cart_list .cart_buttons td {
        text-align: center
    }

    .color_scheme .cart_list .cart_buttons .btn {
        width: 100%;
        display: block;
        float: none;
        margin: 20px 0 0 0
    }
}
