<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aktv.project.giangdien.mybatis.mapper.CategoryMapper" >
  <resultMap id="menuResultMap" type="com.aktv.project.giangdien.data.model.Category" >
    <id column="category_id" property="id" jdbcType="VARCHAR"/>
    <result column="category_name" property="name" jdbcType="VARCHAR"/>
    <result column="category_type" property="business" jdbcType="VARCHAR"/>
    <result column="category_description" property="description" jdbcType="VARCHAR"/>
    <collection property="subCategories" ofType="com.aktv.project.giangdien.data.model.SubCategory">
      <id column="subCategory_id" property="id" jdbcType="VARCHAR"/>
      <result column="category_id" property="categoryId" jdbcType="VARCHAR"/>
      <result column="subCategory_name" property="name" jdbcType="VARCHAR"/>
      <collection property="galleries" ofType="com.aktv.project.giangdien.data.model.Gallery">
        <id column="subCategory_gallery_id" property="id" jdbcType="VARCHAR"/>
        <result column="subCategory_reference_id" property="subcategoryid" jdbcType="VARCHAR"/>
        <result column="subCategory_image" property="imageurl" jdbcType="VARCHAR"/>
      </collection>
      <collection property="products" ofType="com.aktv.project.giangdien.data.model.Product">
        <id column="product_id" property="id" jdbcType="VARCHAR"/>
        <result column="subCategory_id" property="subcategoryId" jdbcType="VARCHAR"/>
        <result column="product_name" property="name" jdbcType="VARCHAR"/>
        <result column="product_price" property="price" jdbcType="INTEGER"/>
        <result column="product_description" property="description" jdbcType="VARCHAR"/>
      </collection>
    </collection>
  </resultMap>

  <resultMap id="BaseResultMap" type="com.aktv.project.giangdien.data.model.Category" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, service_id, description, note
  </sql>
  <sql id="menuResultMapSelect">
    c.id as category_id,
    c.name as category_name,
    c.service_id as category_type,
    c.description as category_description,
    sub.id as subCategory_id,
    sub.name as subCategory_name,
    sub_img.id as subCategory_gallery_id,
    sub_img.subCategoryId as subCategory_reference_id,
    sub_img.imageUrl as subCategory_image,
    p.id as product_id,
    p.name as product_name,
    p.price as product_price,
    p.description as product_description
  </sql>

  <select id="selectFullMenu" resultMap="menuResultMap">
    SELECT
    <include refid="menuResultMapSelect"/>
    FROM
    category c
    LEFT JOIN sub_category sub on c.id = sub.categoryId
    LEFT JOIN gallery sub_img on sub.id = sub_img.subCategoryId
    LEFT JOIN product p on sub.id = p.subCategoryId
    <if test="serviceId != null">
      WHERE c.service_id = #{serviceId,jdbcType=VARCHAR}
    </if>
    ORDER BY c.name
    <if test="index != null and resultSize != null">
      LIMIT #{index}, #{resultSize}
    </if>
    ;
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.aktv.project.giangdien.data.model.Category" >
    update category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="business != null" >
        service_id = #{business,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aktv.project.giangdien.data.model.Category" >
    update category
    set name = #{name,jdbcType=VARCHAR},
    service_id = #{business,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insert" parameterType="com.aktv.project.giangdien.data.model.Category" >
    insert into category (id, name, service_id, description,
    note)
    values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{business,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
    #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aktv.project.giangdien.data.model.Category" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 22 18:46:01 ICT 2017.
    -->
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="business != null" >
        service_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="business != null" >
        #{business,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from category
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>